<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="SHORTCUT ICON" href="http://oheon.dev.conkurent/templates/business/10/favicon.ico" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Top quality template | Website template design – OHEON - Business XHTML template #110100010</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="wrapper">
	<div id="l_l"></div> 
    <div id="left">
    	<div id="menu">
            <ul>
                <li><a href="#" title="FAQ">FAQ</a></li>
                <li ><a href="#" class="active" title="FEATURES"><span class="act">FEATURES</span></a></li>
                <li><a href="#" title="NEWSFEEDS">NEWSFEEDS</a></li>
                <li><a href="#" title="WRAPPER">WRAPPER</a></li>
                <li><a href="#" title="GETTING">GETTING</a></li>
                <li><a href="#" title="LINKS">LINKS</a></li>  
            </ul>      
        </div>
    </div>
    <div id="main">
    	<div id="header">
        	<div id="logo"><a href="index.html" title="Logo"><span></span></a></div> 
            <div id="search"> 
              <form action="" method="get" >
              <p><input id="inp_search" name="e-mail" type="text" value="Enter Keyword" tabindex="1"  onclick="if(this.value=='Enter Keyword')this.value='';" onblur=
                  "if(this.value=='')this.value='Enter Keyword';" /></p>
              <p><input class="button" id="submit" name="submit" type="submit" value="" tabindex="2" title="search"/></p>
              </form>        
            </div>
        </div>
        <div id="t_bg"><div id="t_l"></div><div id="t_r"></div></div>
		        <div class="clear"></div> 
        <div id="content">
			<div class="otstup">
            	<div id="main_left">
                	<img class="pic1" src="img/pic1.jpg" alt="" />
					<div class="corners">
                    	<div class="text">
                    	<h2> <a href="#" class="link">Mauris accumsan nulla vel diam</a></h2><br />
                        <p class="data">Monday, August 17, 2009  09:08 AM  <a href="#" class="linkz">admin</a></p><br />
                        <img class="pic2" src="images/pic2n.jpg" alt="" title="man"/>
                        <p><strong>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hen drerit mauris.</strong></p>
                    	<br/>
						<p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.
Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet,
consectetuer adipiscing elit.Mauris fermentum dictum magna.</p>
						<p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                    
                    
                        <span class="t_r"></span>
                        <span class="t_l"></span>
                        <span class="b_r"></span>
                        <span class="b_l"></span>
                        </div>
                    </div>
                    <p class="com"><a href="#" title="#">3 comments >></a></p>
                    <div class="corners">
                    	<div class="text">
                    	<h2><a href="#" class="link">Aliquam dapibus tincidunt metus</a></h2><br />
                        <p class="data">Monday, August 23, 2009  11:08 AM <a href="#" class="linkz">admin</a></p><br />
                        <img class="pic2" src="images/pic3n.jpg" alt="" title="pen"/>
                        <p><strong>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hen drerit mauris.</strong></p>
                    	<br/>
						<p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.
Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet,
consectetuer adipiscing elit.Mauris fermentum dictum magna.</p>
						<p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                    
                        <span class="t_r"></span>
                        <span class="t_l"></span>
                        <span class="b_r"></span>
                        <span class="b_l"></span>
                        </div>
                    </div>
                    <p class="com"><a href="#" title="#">2 comments >></a></p>
                </div>
                <div id="right">
                	<div class="box">
                        <div class="cat">
                            <h3>Categories</h3>
                            <ul>                
                            <li><a href="#" class="linq" title="#">Aliquam dapibus tincidunt</a></li>
                            <li><a href="#"  class="linq" title="#">Aliquet sit met, euismod</a></li>
                            <li><a href="#" class="linq" title="#">Ante Lorem ipsum dolor</a></li>
                            <li><a href="#" class="linq" title="#">Congue Mauris accumsan</a></li>
                            <li><a href="#" class="linq" title="#">Consectetuer adipisci</a></li>
                            <li><a href="#" class="linq" title="#">Dictum velit Fusce euismo</a></li>
                            <li><a href="#" class="linq" title="#">Nulla venenatis pede mi</a></li>
                            <li><a href="#" class="linq" title="#">Pellentesque sed Aliquam</a></li>
                            <li><a href="#" class="linq" title="#">Praesent justo dolor</a></li>
                            <li><a href="#" class="linq" title="#">Sed in lacus adipiscin</a></li>
                            <li><a href="#" class="linq" title="#">Vestibulum iaculis Proin</a></li>                
                            </ul>                
                        </div>
                        <div class="cat_bot"></div>
                    </div>
                    <div class="box">
                        <div class="cat">
                            <h3>Archives</h3>
                            <ul>                
                                <li><a href="#" class="linq" title="#">August 2009</a></li>
                                <li><a href="#" class="linq" title="#">July 2009</a></li>
                                <li><a href="#" class="linq" title="#">June 2009</a></li>
                                <li><a href="#" class="linq" title="#">May 2009</a></li>
                                <li><a href="#" class="linq" title="#">April 2009</a></li>            
                            </ul>                
                        </div>
                        <div class="cat_bot"></div>
                    </div>
                    <div class="box">
                        <div class="cat">
                            <h3>Meta</h3>
                            <ul>                
                                <li><a href="#" class="linq" title="#">Log in</a></li>
                                <li><a href="#" class="linq" title="#">W3C Page</a></li>
                                <li><a href="#" class="linq" title="#">XFN</a></li>
                                <li><a href="#" class="linq" title="#">WordPress</a></li>                
                            </ul>                
                        </div>
                        <div class="cat_bot"></div>
                    </div>
                    <div class="box">
                        <div class="cat">
                            <h3>Blogroll</h3>
                            <ul>    
                                <li><a href="#" class="linq" title="#">Development Blog</a></li>
                                <li><a href="#" class="linq" title="#">Documentation</a></li>
                                <li><a href="#" class="linq" title="#">Plugins</a></li>
                                <li><a href="#" class="linq" title="#">Suggest Ideas</a></li>
                                <li><a href="#" class="linq" title="#">Support Forum</a></li>
                                <li><a href="#" class="linq" title="#">Themes</a></li>
                                <li><a href="#" class="linq" title="#">WordPress Planet</a></li>                
                            </ul>                
                        </div>
                        <div class="cat_bot"></div>
                    </div>
                </div>
        		<div class="clear"></div>
        	</div>
        </div>
        <div class="clear"></div>  
        <div id="foot">
          <p>
            <a href="#" title="FAQ">FAQ</a>
            <a href="#" title="FEATURES">FEATURES</a>
            <a href="#" title="NEWSFEEDS">NEWSFEEDS</a>
            <a href="#" title="WRAPPER">WRAPPER</a>
            <a href="#" title="GETTING">GETTING</a>
            <a href="#" title="LINKS">LINKS</a>
          </p>
		</div>
		<div id="copyright"> 	
	       Design by: <a href="http://www.oheon.com/" title="www.oheon.com">free web templates</a> and partners: <a href="http://www.conkurent.com/" title="www.conkurent.com">web hosting</a>,  <a href="http://www.phpforms.net/" title="www.phpforms.net">php forms</a>
              </div> 
         </div>
<div class="clear"></div> 
</div>
</body>
</html>
