<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- 
	This document is created by Jasper 'amygdela' van der Meer for Open Source WebDesign @ http://oswd.org.
	You are free to alter, build upon or delete parts of the code used in this free opensource template.
	You are free to remove the copyrights from this template, but it would be cool if you left it there.
	If you use this template and you like it, drop by my site sometimes @ http://www.amygdela.com ... 

	This is my second template for OSWD. I've created this template again with no images.
	The charset used is utf-8, for easily translating or implementing this template in a file in any language.
	The HTML is XHTML 1.0 Strict valid, and the CSS valids as CSS2. Please be aware that some hacks were made 
	to display this template correct on the infamous Internet Explorer. How I hate the darn thing... Enjoy!!!

	All HTML and CSS is well commented, so you won't get stuck when editing the template. All divs have logical
	names and semantics were kept in mind when designing this template. | August 15th, 2005 Jasper van der Meer.
	
-->
<title>OSWD2 - The Second Encounter :-)</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="oswd2.css" rel="stylesheet" type="text/css" title="OSWD2 Style" />
</head>

<body>
<div id="container"> <!-- <DIV #1> -->

	<div id="header"> <!-- <DIV #2> -->
		<h1>OSWD v2</h1><br />
		<h2>The second Encounter!</h2>
	</div>
	
	<div id="core_container"> <!-- <DIV #3> -->
	  <div id="core_left"> <!-- <DIV #4> -->
		  <h3>Image<strong>Corner</strong></h3>
		  	<p>We offer the best free images on the net! Just <a href="index.html">browse</a> and find the ones you like!</p>
				<ul>
					<li><img src="orange_flower.jpg" alt="" width="180" height="135" /></li>
					<li class="litxt">This image is so blaw blaw, it's almost too blaw to blaw about.</li>
					<li><img src="Ocean.jpg" width="180" height="135" alt="" /></li>
					<li class="litxt">And this image is really a great addition to our blaw. Perfect blaw and good blaw.</li>
					<li><img src="butterfly.jpg" width="180" height="135" alt="" /></li>
					<li class="litxt">A perfect example of blaw blaw blaw. Great one!</li>
				</ul>
	  </div>
	  
	  <div id="core_right"> <!-- <DIV #5> -->
		<div id="navcontainer"> 
			<ul id="navlist">
			<li><a href="index.html" id="current">Homepage</a></li>
			<li><a href="index.html">About us</a></li>
			<li><a href="index.html">Weblog</a></li>
			<li><a href="index.html">Forums</a></li>
			<li><a href="index.html">Contact</a></li>
			<li><a href="http://www.oswd.org" title="Homepage OpenSourceWebDesign">OSWD.org</a></li>
			</ul>
		</div>
	  	<h5>Blaw here!</h5>
			<p class="txtfloat">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
			Donec placerat semper dolor. Vivamus rutrum arcu vel turpis. Donec elit. 
			Integer volutpat tellus consequat quam auctor congue.</p>
			
		<h6>More blaw here!</h6>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
			Donec placerat semper dolor. Vivamus rutrum arcu vel turpis. Donec elit. 
			Integer volutpat tellus consequat quam auctor congue. Maecenas bibendum vehicula neque. 
			In semper, lorem vitae rutrum auctor, dolor turpis scelerisque ligula, et varius pede orci vel libero. 
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
			Nam pharetra luctus mauris. Sed malesuada dui a dolor. Maecenas est. Duis pede.</p>
			
			<p><img src="flowline.jpg" width="450" height="1" alt="" /></p>
				<h6>Respected<strong>sites</strong></h6>
			<ul class="bottom_ul">
				<li><a href="http://www.oswd.org" title="OpenSouce WebDesign">OSWD | OpenSource WebDesign.</a></li>
				<li><a href="http://www.sxc.hu" title="Stock.Xchng | The biggest free stockphoto resource">Stock.xchng | The largest free online stockphotocollection.</a></li>
				<li><a href="http://www.google.com" title="Good ol'Google.">Can you live without Google?</a></li>
				<li><a href="http://www.amygdela.com" title="Homepage of the webdesigner">amygdela.com | Homepage of the webdesigner.</a></li>
				<li><a href="http://www.adobe.com/photoshop" title="Adobe Photoshop Homepage">Couldn't have done this without Adobe Photoshop.</a></li>
			</ul>
			
	  </div>
	</div>
	<div id="footer">
		<p>Courtesy of <a href="http://www.openwebdesign.org" target="_blank" class="footer">Open Web Design</a>  &amp; <a href="http://www.best10webhosting.net/" target="_blank" class="footer">Best 10 Web Hosting</a></p>
  </div>
</div>
</body>
</html>
