body
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-color: sandybrown;
    background-repeat: repeat;
}

h1
{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h3
{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
}
b
{
    font-weight: bold;
}