* {padding:0; margin:0;}
body {
	padding:0;  margin:0;
	font:11px Tahoma;
	color:#000;
	background:#fe1d09;}
h1 {font:bold 16px Verdana;}

p {font:12px Tahoma; color:#707070;}
.data {color:#8c8c8c;}
a  {text-decoration: none;}
.text {padding:15px;}
#wrapper { 
	margin:0px auto;
	width:1107px;
	height:100%;
	background:url(../img/wrap_bg.jpg) repeat-y;}
#l_l { display:inline; float:left; width:28px; height:100px;}
#header {
	width:100%;
	height:150px;}
		#logo {
			float:left;
			width:385px;
			height:150px;
			margin-left:30px;
			background:url(../img/logo.jpg) no-repeat;}
			#logo a {width:100%; height:150px; cursor:pointer; display:block; outline:none;}
			#logo span {width:100%; height:150px; }

		#search {position:relative; float:right; margin-top:106px; margin-right:30px; width:313px; height:44px; background:url(../img/search.gif) no-repeat;}
		input {border:none;}
		#inp_search {position:absolute; top:16px; left:16px; width:193px; height:20px; background:transparent; color:#999;}
		.button {position:absolute; top:15px; right:11px; cursor:pointer; width:80px; height:20px; background:transparent; font:12px Arial;}	
		/*.button:hover {color:#fff; cursor:pointer;}*/
		#search input:focus {color:#000;}	

#left {
	display:inline;
	float:left;
	width:157px;}
	
		#menu {
			width:157px;
			padding:0; 
			margin-top:210px;
			position:relative;
			float:right;
			background:#FF0;}
		#menu li {
			list-style-type:none;
			max-width:157px;
			height:45px;
			background:url(../img/left_menu1.gif) no-repeat;}
		#menu a {
			width:157px;
			height:45px; 
			display:block;
			color:#fb7006;
			font:bold 14px Tahoma;
			line-height:45px;
			text-indent:45px;}
		#menu a:hover {
			width:157px;
			height:45px;
			color:#fff;
			text-decoration:none;
			text-indent:25px;
			background:url(../img/left_menu_hover.gif) no-repeat;}	
		
		#menu li a.active {
			text-decoration:none;
			background:url(../img/left_menu_hover.gif) no-repeat;
			text-indent:25px;
			}
		.act {color:#fff; text-indent:25px;}


#main { 
	float:left;
	display:inline;
	width:890px;
	height:100%;}
	
	#content {
		width:100%;
		height:100%;
		background: url(../img/content_bg.gif) repeat-y;}
		
		.otstup {margin:0 25px;}
		#main_left {
			width:618px;
			height:100%;
			display:inline;
			float:left;}

/******************* UGOL ******************/
.corners {
	width:100%; 
	position:relative;
	color:#fff;
	margin-top:20px;
	border:1px solid #fff;
	background:#e3e3e3;}
.corners span {
	display:block; 
	position:absolute; 
	width:6px; 
	height:6px; 
	background-image:url(../img/ugol.gif);}
	 .link {color:#fc6406;}
	 .link a:hover{text-decoration:none;}
	 .linkz{color:#8c8c8c; text-decoration:underline;}
	 
	.pic2{
	float: left;
	}
	.pic1{
	 width:618px; height:214px;}
.t_l {top:-1px; left:-1px;}
.t_r {top:-1px; right:-1px; background-position:100% 0;}
.b_l {bottom:-1px; left:-1px; background-position:0 100%}
.b_r {bottom:-1px; right:-1px; background-position:100% 100%}				

/*************************************************************/
			#main_left h2 {font:bold 18px Tahoma; color:#fc6406; }
			.com {text-align:right; padding:5px; }
			.com a {color:#fc6406; text-decoration: underline;}

		#right {
			width:222px;
			height:300px;
			display:inline;
			float:right;}
			
			#right a{
			color:#5f5f5f;}
			
			#right a:hover{
			color:#FC6406;
			text-decoration:underline;}
			.box {
				width:209px;
				font-size: 12px;
				margin-left:12px;
				margin-bottom:2px;}
			.cat {
				width:100%;
				height:100%;
				background:url(../img/cat.jpg) no-repeat;}
			.cat_bot {
				clear:both;
				width:100%;
				height:17px;
				background:url(../img/cat_bot.jpg) no-repeat;}
				.cat h3 { font:16px Tahoma; color:#fc6406; padding:6px 30px;}
				.cat ul { padding-left:35px; list-style-image:url(../img/li1.gif)}
				.cat li { list-style-type:none; height:13px; padding:5px 0;}
				.cat a {color:#5f5f5f; padding-left:0px;}
				.cat a:hover {color:#fc6406;}
			#t_bg {width:890px; height:23px;background:url(../img/t_bg.gif) repeat-x;}
			#t_l {width:20px; height:23px; background: url(../img/t_l.gif) no-repeat; float: left;}	
			#t_r {width:13px; height:23px; background: url(../img/t_r.gif) no-repeat; float: right;}
			
     #foot{width: 100%; height: 45px; background:url(../img/foot.jpg) no-repeat;}
			#foot p {width:670px; margin:0 auto; padding-top:20px }
			#foot a {color:#898989; padding:0 30px; text-decoration: underline;}
			#foot a:hover { text-decoration: none;}			
		
		#copyright {
		    padding: 30px;
			color: black;
			font-size: 12px;
			text-align: center;}
		
		#copyright a {
			color: #ffffff;
			padding-left: 2px; 
			padding-right: 0px;
			outline: none;
			text-decoration:underline;}
		#copyright a:hover{
		text-decoration:none;
		}
		.clear{clear: both;}
		