<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Portfolio Template</title>
<!--This is some key words you input to help the searchability of your site -->
<meta content="subject of page here or Keywords" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/fontsheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="container">
    <div id="nav"><h1>your name photography</h1></div>
    <div id="navContainer">
    		<!--Here insert you other page links -->
          <div class="navText"><a href="index.html">Item One</a></div>
          <div class="navText"><a href="index.html">Item Two</a></div>
          <div class="navText"><a href="index.html">Item Three</a></div>
          <div class="navText"><a href="index.html">Item Four</a></div>
        </div>
    <div class="title"><h2>Page Title</h2></div>
    		<!--This Image is the main display image - Make sure that you adjust it manually in the css layout projectShowCase tag -->
    <div class="projectShowCase"><img alt="your alt text" src="image/image_display.jpg" /></div>
    <div class="prjectDescription">
    	<h3>Project Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus scelerisque libero, in luctus massa volutpat at. Sed vel neque leo. Nullam non neque non lectus porttitor semper sit amet in nisi. Fusce ullamcorper mollis erat, ut convallis leo scelerisque id. Vivamus tellus orci, eleifend ac pharetra sit amet, vestibulum non tellus. In eleifend consequat tortor, ut mattis eros accumsan sed. Aenean ornare tempor elit, nec fermentum leo vehicula sit amet. Quisque at tincidunt mauris. Praesent nunc dui, pretium in dapibus fermentum, lacinia id nulla. Praesent lorem ipsum, lobortis quis fringilla eget, bibendum ac lacus. Quisque sagittis luctus aliquam. Etiam. Vivamus tellus orci, eleifend ac pharetra sit amet, vestibulum non tellus. In eleifend consequat tortor, ut mattis eros accumsan sed. Aenean ornare tempor elit, nec fermentum leo vehicula sit amet</p>
        <!--this is you portfolio navigation for your project -->
		<a class="thumb" href="index.html"><img alt="your alt text" src="image/image1_thumb.jpg" /></a>
        <a class="thumb" href="index.html"><img alt="your alt text" src="image/image2_thumb.jpg" /></a>
        <a class="thumb" href="index.html"><img alt="your alt text" src="image/image1_thumb.jpg" /></a>
        <a class="thumb" href="index.html"><img alt="your alt text" src="image/image2_thumb.jpg" /></a>
        <a class="thumb" href="index.html"><img alt="your alt text" src="image/image1_thumb.jpg" /></a>
        <a class="thumb" href="index.html"><img alt="your alt text" src="image/image2_thumb.jpg" /></a>
        <a class="thumb" href="index.html"><img alt="your alt text" src="image/image1_thumb.jpg" /></a>
        <a class="thumb" href="index.html"><img alt="your alt text" src="image/image2_thumb.jpg" /></a>
  </div>
  <div id="footer"><p><a class="contact" href="mailto:YOUREMAILACOUNT@YOURINPUT.COM">Email me</a><a class="contact" href="index.html">Contact Info</a></p>
  	<p class="floatright">&copy; Your copyright text goes here</p>
  </div>
  </div>
</body>
</html>
