<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Business Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>


<body>
	<div id="container">
			<div id="nav">
						<ul>
							<li><a href="#"> Home</a></li>
							<li><a href="#">Our Services</a></li>
							<li><a href="#">Our Partners</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
			</div>
			
			<div id="logo">
			<h1 class="whitey">j53 Designs</h1>
			</div>
			
			<div id="sidebar">
			
			    <div id="login">
				
				 <div id="input">
						 <h3>MEMBERS LOGIN</h3>
						 <input type="text" id="name" value="Username"/>
                         <input type="password" id="password" value="Password"/>						 
				 </div>
				 <p><a href="#"> Forgot my password </a><input type="button" value="Login"/></p>
				
			    </div>
			   
			    <div id="box1">
					<img alt="business world" class="box12" src="images/pic02.png" width="100"/><h3>Lorem ipsum dolor</h3>
					<p class="whitey" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>	
				</div>
				
				<div id="box2">
				    	<img alt="business world" class="box12" src="images/pic02.png" width="100"/><h3>Lorem ipsum dolor</h3>
					<p class="whitey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>	
				</div>
						
			</div>
			
				<div id="whitebox">
				<img alt="the guy with the phone" id="phoneguy" src="images/pic01.png"/><h1>Phone guy</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>		
				
				<div id="last">
						<img alt="girl drawing graph" id="graph" src="images/girl.png" width="100"/><h1>Am i a title or What?</h1>
						<p class="whitey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>				
				</div><br />
				<div id="footer">
				<p class="whitey">PSD and XHTML by <a href="mailto:staticglow@live.com">Mahen Nowzadic</a></p>
				</div>
				
				
			
	</div>
</body>



</html>